{% extends 'base.html' %}

{%block header %}
    <h1>{%block title %}Bus Order{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class="body">{{ post['number1'] }}</p>
            <p class="body">{{ post['number2'] }}</p>
            <p class="body">{{ post['number3'] }}</p>
            <p class="body">{{ post['number4'] }}</p>
            <p class="body">{{ post['number5'] }}</p>
            <p class="body">{{ post['number6'] }}</p>
            <p class="body">{{ post['number7'] }}</p>
            <p class="body">{{ post['number8'] }}</p>
            <p class="body">{{ post['number9'] }}</p>
            <p class="body">{{ post['number10'] }}</p>
            <p class="body">{{ post['number11'] }}</p>
            <p class="body">{{ post['number12'] }}</p>
            <p class="body">{{ post['number13'] }}</p>
            <p class="body">{{ post['number14'] }}</p>
            <p class="body">{{ post['number15'] }}</p>
            <p class="body">{{ post['number16'] }}</p>
            <p class="body">{{ post['number17'] }}</p>
            <p class="body">{{ post['number18'] }}</p>
            <p class="body">{{ post['number19'] }}</p>
            <p class="body">{{ post['number20'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
